.main{text-align:center;} 
h1{text-align:center;color:blue;}
img{margin:10px;}
.box{border:solid;margin:30px;height:350;width:350px;border:hidden;}
h2{color:blue;}
p{color:red;font-size:arial;}
.go{color:blue;}
